@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title</h2>
<h3>Estudiantes</h3>

<ul>
    <li>Kevin Leonardo Masis Leandro</li>
    <li>Hazel de los Angeles Domingues Rodriguez</li>
    <li>Kevin Bernardo Rojas Hernandez</li>
    <li>Erick Alberto Diaz Barboza</li>
</ul>
